<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="MDT6DBEntities" connectionString="metadata=res://*/MDT6DbModel.csdl|res://*/MDT6DbModel.ssdl|res://*/MDT6DbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MDT6\SQLEXPRESS;initial catalog=MDT6DB;persist security info=True;user id=unsknet;password=yhnbgt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
