<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataSourceService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://scanerto2:8080/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDataSourceService"
                contract="ServiceReference1.IDataSourceService" name="BasicHttpBinding_IDataSourceService" />
        </client>
    </system.serviceModel>
</configuration>